In [1]:
import pandas as pd
import numpy as np
data = np.random.rand(4, 4)
columns = ['Feature1', 'Feature2', 'Feature3', 'Feature4']
df = pd.DataFrame(data, columns=columns)
print(df)

   Feature1  Feature2  Feature3  Feature4
0  0.125962  0.368362  0.685747  0.678245
1  0.693040  0.135312  0.692427  0.809620
2  0.912669  0.805870  0.048416  0.772607
3  0.139800  0.599879  0.019941  0.602999

In [2]:
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.125962        0.368362        0.685747        0.678245
1        0.693040        0.135312        0.692427        0.809620
2        0.912669        0.805870        0.048416        0.772607
3        0.139800        0.599879        0.019941        0.602999

In [3]:
descriptive_stats = df.describe()
print(descriptive_stats)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.467868        0.477356        0.361633        0.715868
std          0.397106        0.289716        0.378300        0.093387
min          0.125962        0.135312        0.019941        0.602999
25%          0.136340        0.310100        0.041297        0.659433
50%          0.416420        0.484121        0.367081        0.725426
75%          0.747947        0.651377        0.687417        0.781860
max          0.912669        0.805870        0.692427        0.809620

In [4]:
null_values = df.isnull().sum()
data_types = df.dtypes
print("Null Values:")
print(null_values)
print("\nData Types:")
print(data_types)

Null Values:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Data Types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [5]:
selected_columns_loc = df.loc[:, ['Random value 2', 'Random value 3']]
print(selected_columns_loc)

   Random value 2  Random value 3
0        0.368362        0.685747
1        0.135312        0.692427
2        0.805870        0.048416
3        0.599879        0.019941

In [6]:
selected_columns_index = df.iloc[:, [1, 2]]  # Column indices 1 and 2 correspond to 'Random value 2' and 'Random value 3'
print(selected_columns_index)

   Random value 2  Random value 3
0        0.368362        0.685747
1        0.135312        0.692427
2        0.805870        0.048416
3        0.599879        0.019941